*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    /* box-sizing -- Check this is properties */
}
body{
    background-color: #ccc;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 5px 3.5px 5px rgba(191, 11, 11, 0.2);
    /* box-shadow checking */
    border-radius: 10px;
}
.title_small{
    font: size 21px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px ,1fr));
    gap: 20px;

} 
.form_control{
    display: flex;
    flex-direction: column;

}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input ,select ,textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}
input:focus{
    outline-color: rgb(174, 13, 102);

}
.button_container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    color: white;
    background-color: rgb(56, 205, 56);
    border: 2px solid transparent;
    padding: 7px 5px;
    border-radius: 8px;
    height: 30px;
    width: 100px;
    transition: .3s ease-in;


}
button:hover{
    background-color: grey;
    border: 2px solid rgb(17, 153, 211);
    color: black;
    transition: .3s ease-out;
    cursor: pointer;

}
.textarea_control{
    grid-column: 1 / span 2;
}
.textarea_control textarea {
    width: 100%;

}
@media ( max-width:460px) {
    .textarea_control{
        grid-column: 1 / span 1;
    }

}
